{% extends 'main.html' %}

{% load staticfiles %}

{% block content %}



<section>
</section>

<aside>
    <h1> Space Program </h1>
    <p>Lorem Ipsum is the standard filler text used in design throughout the world. It’s been the standards since the 1500’s and it’s time for an update. The NASA OpenGov team took the opportunity at Science Hack Day to create a new online tool to generate filler text based on a database of historical space quotes. The project serves as an example of what can be done to utilize historic NASA data and mash it up in a new and exciting way. Although a “lorem ipsum” generator may seem inconsequential at first glance, the weekend project will serve as the backbone to a future data mashup project for the NASA OpenGov team. We’d appreciate your comments and feedback and have provided more information about the history of Lorem Ipsum and the tool we’ve created below.</p>
</aside>



{% endblock %}